<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.insecurebankv2"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo" >
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FilePrefActivity"
            android:label="@string/title_activity_file_pref" >
        </activity>
        <activity
            android:name=".DoLogin"
            android:label="@string/title_activity_do_login" >
        </activity>
        <activity
            android:name=".PostLogin"
            android:label="@string/title_activity_post_login"
            android:exported="true" >
        </activity>
        <activity
            android:name=".WrongLogin"
            android:label="@string/title_activity_wrong_login" >
        </activity>
        <activity
            android:name=".DoTransfer"
            android:label="@string/title_activity_do_transfer"
            android:exported="true" >
        </activity>
        <activity
            android:name=".ViewStatement"
            android:label="@string/title_activity_view_statement"
            android:exported="true" >
        </activity>

        <provider
            android:name=".TrackUserContentProvider"
            android:authorities="com.android.insecurebankv2.TrackUserContentProvider"
            android:exported="true" >
        </provider>

        <receiver
            android:name=".MyBroadCastReceiver"
            android:exported="true" >
            <intent-filter>
                <action android:name="theBroadcast" >
                </action>
            </intent-filter>
        </receiver>

        <activity
            android:name=".ChangePassword"
            android:label="@string/title_activity_change_password"
            android:exported="true" >
        </activity>
        <activity
            android:name=".ExitActivity"
            android:label="@string/title_activity_exit" >
        </activity>
    </application>

</manifest>
